<footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="widget mb-3">
            <h3>Official Sites</h3>
            <ul class="list-unstyled links">
              <li><a href="https://spacetoon.com/">Spacetoon</a></li>
              <li><a href="https://spacetoon.com/">SpacePower</a></li>
            </ul>
          </div>
        </div>
    
        <div class="col-lg-3">
          <div class="widget mb-3">
            <h3>Fandom</h3>
            <ul class="list-unstyled links">
              <li><a href="https://spacetoon.fandom.com/wiki/Spacetoon_International">Spacetoon Fan Page</a></li>
              <li><a href="https://spacetoon-world.fandom.com/wiki/Space_Power">SpacePower Fan Page</a></li>    
            </ul>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="widget mb-3">
            <h3>Social</h3>
            <ul class="list-unstyled links">
              <li><a href="https://twitter.com/spacetoon?lang=en">Twitter</a></li>
              <li><a href="https://www.facebook.com/Spacetoon/?locale=ar_AR">Facebook</a></li>
              <li><a href="https://www.instagram.com/spacetoon/?hl=en">Instagram</a></li>
              <li><a href="https://www.youtube.com/channel/UCuQKih3Ac3NABADQKQdeV6A">Youtube</a></li>
            </ul>
          </div>
        </div>
       
            <div class="col-lg-3">
              <div class="widget mb-3">
                <h3>News</h3>
                <ul class="list-unstyled links">
                  <li><a href="#">New Releases</a></li>
                  <li><a href="#">Upcoming Events</a></li>
                  <li><a href="#">Top Anime Rankings</a></li>
                </ul>
              </div>
            </div>

    

      <div class="row text-center">
        <div class="col-md-12">
          <div class=" pt-5">
          </div>
        </div>

      </div>
    </div>
    </div>
  </footer>